@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Noto Serif Thai', serif !important;
}

.react-multiple-carousel__arrow{
    background: #111827;
    z-index: 1;
}

.react-multiple-carousel__arrow--right {
    right: 1px;
}

.react-multiple-carousel__arrow--left {
    left: 1px;
}

#about-image{
    position: relative;
}

#about-image::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to right, #111827, transparent 90%);
}

#supportHidden{
    display: none;
}

#chatButton:hover #supportHidden{
    display: inline-block;
}

#chatButton{
    z-index: 2000;
}

#writeReviewContainer{
    position: fixed;
    width: 50%;
    top: 5vh;
    height: fit-content;
    max-height: 100vh;
    left: 50%;
    padding: 5px;
    padding-top: 10px;
    transform: translate(-50%, 0);
    backdrop-filter: blur(10px);
    overflow-y: auto;
    z-index: 20;
}

#reviewContent{
    height: 15vh;
    max-height: 50vh;
}

#hiddenContainer{
    visibility: hidden;
}

#truncatedText{
    display: -webkit-box;
    max-width: 230px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#cardImage{
    min-width: 100%;
    min-height: 100%;
}