@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Noto Serif Thai', serif !important;
}

.react-multiple-carousel__arrow{
    background: #111827;
}

.react-multiple-carousel__arrow--right {
    right: 1px;
}

.react-multiple-carousel__arrow--left {
    left: 1px;
}